@import url('https://fonts.googleapis.com/css?family=Signika');


* {
    box-sizing: border-box;
}

.background {
    background: linear-gradient(40deg,#1F1C2C,transparent 100%),
                linear-gradient(230deg, #928DAB, transparent),
                #ffa949 url('../../../static/img/bgabout.jpg') center;
    background-size: cover; 
    height: calc(100vh - 10px);
    width: calc(100vw - 10px);
    border: 10px solid white;
    transition: filter 1s ease;
}

.container {
    overflow-y: auto;
    padding: 20px;
    height: calc(100% - 30px);
    width: calc(100% - 20px);
    position: fixed;
    top: 10px;
    left: 20px;
}


.content {
    position: relative;
    display: flex;
    flex-direction: column;
}


.heading {
    overflow: hidden;
    color: darkturquoise;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    font-size: 85px;
    margin: auto;
    animation-name: heading;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.about {
    margin-top: 105px;
    overflow: hidden;
    margin-left: 50px; 
    color: white;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
    width: 80%;
    font-size: 30px;
}

.internships {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
}

.internships img {
    width: 150px;
    height: 150px;
    margin-right: 40px;
}

.internAbout {
    font-size: 20px;
}

.internAbout h3 {
    color: darkturquoise;
}
.internAbout h5 {
    margin: 2px;
}

.internAbout p {
    margin-top: 20px;
}



@keyframes heading {
    from {
        margin-top: 8%;
        opacity: 0;
    }
    to {
        margin-top: 14%;
        opacity: 1;
    }
}

h2 {
    margin: 0;
}

.skills {
    font-size: 20px;
    margin: 10px;
}


.box {
    position: relative;    
}

.container::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.container::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #908CA7),
									   color-stop(0.72, #565462),
									   color-stop(0.86, #747281));
}



